#################
## Visual Studio and Xamarin Studio
#################

[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
[Tt]humbs.db 
TipOfTheDay.Domain/Concrete/TipOfTheDayDatabase.dacpac
*.mdf
*.mdb
*.ldf
ListActivityDemo-VocabParseSecIndex/ListActivityDemo.userprefs
*.userprefs

*.nupkg

*.dll


GussMyNumber-2Screens/GussMyNumber-2Screens.userprefs

AgeCalc-IntentDemo/IntentDemo.userprefs

GussMyNumber-2Screens/GussMyNumber-2Screens/bin/Debug/System.ServiceModel.Internals.dll.mdb
/Weather-WebServiceDemo
