# Visual Studio, Visual Studio for Mac
[Oo]bj
[Bb]in
**/[Pp]ackages/*
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.dacpac
*.mdf
*.mdb
*.ldf
*.userprefs
*.Xamarin
*.nupkg
.vs
UserPrefs.xml

#JetBrains Rider IDE
.idea

#Windows
*.dll
[Tt]humbs.db 

#Mac OS
.DS_Store
