#################################
#  Xamarin Android Development  #
#################################

# Visual Studio and Xamarin Studio
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.dacpac
*.mdf
*.mdb
*.ldf
*.userprefs
*.Xamarin
*.nupkg

#JetBrains Rider IDE
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Rider sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

#Windows
*.dll
[Tt]humbs.db 

#Mac OS
.DS_Store

ClickCounter-Code-XML/.vs/ClickCounter-Code-XML/xs/sqlite3/db.lock
ClickCounter-Code-XML/.vs/ClickCounter-Code-XML/xs/sqlite3/storage.ide
ClickCounter-Code-XML/.vs/ClickCounter-Code-XML/xs/sqlite3/storage.ide-shm
ClickCounter-Code-XML/.vs/ClickCounter-Code-XML/xs/sqlite3/storage.ide-wal
ClickCounter-Code-XML/.vs/ClickCounter-Code-XML/xs/UserPrefs.xml
