<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoapService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SoapService.Properties.Settings>
            <setting name="SoapPractice_graphical_weather_gov_ndfdXML" serializeAs="String">
                <value>http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php</value>
            </setting>
            <setting name="SoapPractice_opendap_co_ops_nos_noaa_gov_highlowtidepredService"
                serializeAs="String">
                <value>https://opendap.co-ops.nos.noaa.gov/axis/services/highlowtidepred</value>
            </setting>
        </SoapService.Properties.Settings>
    </applicationSettings>
</configuration>